h1{
    color: red;
}
body{
    margin: 0;
}
.background{
    text-align: center;
    background-color: rgb(215, 181, 146);
    background-image: url(../img/coco.png), url(../img/palm-tree2.png), url(../img/palm-tree3.png), url(../img/palm-tree4.png), url(../img/cocotime.png), url(../img/cocotime.png), url(../img/cocotime.png), url(../img/cocotime.png);
    background-repeat: no-repeat;
    background-position: 173px 101%, -90px bottom, 110% 103%, -375px 50px, 0% 102%,17% 99%, 85% 102%, 83% 102%;
    background-size: 66px, 500px, 500px, 900px, 63px, 66px, 66px;
}
#game-board{
     margin: 120px;
}
h1{
    width: 300px;
    margin: 0 auto;
}
